

.logo{
  height: fit-content;
  margin-top: 8px;
  margin-right: 10px;
}

.my-border{
  border: 1px solid grey;
  border-bottom: none;
  padding: 15px;
}

.default-img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.default-img img{
   width: 6rem;
   height: 5rem;
}

.sidebar-open {
  width: 250px;
  transition: width 0.3s ease-in-out;
}

.sidebar-closed {
  width: 0;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

/* Sidebar.css */
.sidebar {
  position: fixed;
  justify-content: center;
  text-align: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 64px; /* Width of the sidebar */
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.mainsidebar{
  width: 500px;
  justify-content: end;
}

.content {
  padding: 10px;
}
.sidebar img{
  width: 42px;
  margin: 10px;
  padding: 6px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.card{
  margin: 100px 100px 0 150px ;
}
.active{
  background-color: #EEF2FF;
}
.status-green{
  background-color: rgb(213, 238, 213);
  padding: 25px 15px;
  border-radius: 30px;
}
.status-blue{
  background-color: rgb(171, 209, 229);
  padding: 25px 15px;
  border-radius: 30px;
}
.status-yellow{
  background-color: rgb(237, 233, 162);
  padding: 25px 15px;
  border-radius: 30px;
}
.grey-border{
   border: 1.5px solid rgba(215, 212, 212, 0.736);
}
.primary-bg-color{
  background-color:  #4F46E5;
}
.primary-color{
  color: #4F46E5;
}